<html>
   <body>
      <form action = "http://localhost:8080/result" method = "POST">
         <p>희망 지역을 입력하세요.
            <br/>
            (강남, 강북, 강동, 강서)
            <br/>
            <input type = "text" name = "Area" />
         </p>
         <p>희망 범위를 입력하세요.
            <br/>
            (100m, 250m, 500m, 1km)
            <br>
            <input type = "text" name = "Distance" />
         </p>
         <p>희망 가격을 입력하세요.
            <br/>
            (~50만, ~60만, ~70만, 70만 이상)
            <br/>
            <input type ="text" name = "Price" />
         </p>
         <p><input type = "submit" value = "슬세권 찾아보기" /></p>
      </form>
   </body>
</html>