body {
    background-color:  #7401DF;
}
.init_popup {
    position: absolute;
	width: 60%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background: white;
    box-shadow: 3px 3px  20px 2px black;
}

.logo {
    position: absolute;
    width: 10%;
    height: auto;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
}

.enter {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 40px;
    color: black;
    font-size: 16px;
    border: 10px;
    border-color: #7401DF;
    border-radius: 20px;
}

.enter:focus {
    outline: 0;
}

.enter:hover {
    background-color: #7401DF;
    color: white;
}

.selection {
    margin-top: 30px;
    margin-left: 30px;
}