<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASL | 마이슬세권</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>MASL</h1>
    <div id="map"></div>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=10006c6206025d0a4da93230b38d2bd2"></script>
    <script>
        // 로컬에서 실행 시 - cmd 에서 현재 폴더로 이동 -> python -m http.server 8080 실행 -> 크롬 브라우저에 http://localhost:8080
        
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 Default 중심좌표
                level: 5 // 지도의 확대 레벨 
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

        // HTML5의 geolocation으로 사용할 수 있는지 확인
        if (navigator.geolocation) {

            // GeoLocation으로 접속 위치 가져오기
            navigator.geolocation.getCurrentPosition(function (position) {

                var lat = position.coords.latitude, // 사용자 위도 - 현재는 해당 변수 사용하지 않고 서울시 중심위도로 대체
                    lon = position.coords.longitude; // 사용자 경도 - 현재는 해당 변수 사용하지 않고 서울시 중심경도로 대체

                var locPosition = new kakao.maps.LatLng(37.5642135, 127.0016985); // 마커가 표시될 위치를 얻어온 좌표로 생성

                // 마커 표시
                displayMarker(locPosition);
                // 동심원 호출
                circle();
            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을 때

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

            displayMarker(locPosition);
        }

        // 지도에 마커 표시하는 함수
        function displayMarker(locPosition) {

            // 마커 생성
            var marker = new kakao.maps.Marker({
                position: locPosition
            });

            // 지도 중심좌표를 접속위치로 변경
            map.setCenter(locPosition);

            // 마커가 지도 위에 표시되도록 설정
            marker.setMap(map);  
        }
        function panTo (moveLat, moveLon) {
            // 이동할 위도 경도 위치를 생성 - 원하는 행정동의 좌표로 이동하는 등.. 사용자 요청에 따른 좌표 필요
            var moveLocation = new kakao.maps.LatLng(moveLat, moveLon);
    
            // 지도 중심을 부드럽게 이동
            // 이동할 거리가 지도 화면보다 크면 이펙트 없이 이동
            map.panTo(moveLocation);            
        }
        function circle() {
            /*
            // 반복문으로 5개 지역 변수 할당 필요

            // 지역별 중심좌표 계산
            var lat_center = (top_lat + btm_lat) / 2,
                lng_center = (right_lng + left_lng) / 2;
            */
            // 지도에 표시할 원을 생성
            var circle1 = new kakao.maps.Circle({
                center : new kakao.maps.LatLng(37.493236, 127.056687),  // 동심원의 중심좌표 (강남구 대치1동)
                radius: 800, // 미터 단위의 원의 반지름
                strokeWeight: 5, // 선의 두께
                strokeColor: '#5049c9', // 선의 색깔
                strokeOpacity: 0, // 선의 불투명도
                strokeStyle: 'solid', // 선의 스타일
                fillColor: '#5049c9', // 채우기 색깔
                fillOpacity: 0.5  // 채우기 불투명도
            });
            circle1.setMap(map); // 지도에 원 그리기
        }
    </script>
</body>

</html>
