<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MASL 마이슬세권</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>MASL</h1>
        <div class="map"></div>
	        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=709bb0c5529d1e0f4d5cae31194fb77e"></script>
	        <script>
		        var container = document.getElementById('map');
		        var options = {
			        center: new kakao.maps.LatLng(33.450701, 126.570667),
			        level: 3
		        };

		        var map = new kakao.maps.Map(container, options);
	</script>

    </body>
</html>