<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MASL 마이슬세권</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class='logo' src="{{ url_for('static', filename='images/logo.png') }}">
        <div class='init_popup'>
            <img class='slides' src=''>
            <form action='/UserInfo' method='get'>
                <button class='enter' type='enter'>마슬 시작하기</button>
            </form>
        </div>
    </body>
</html>
