<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MASL 마이슬세권</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img class='logo' src="{{ url_for('static', filename='images/logo.png') }}">
        <div class='init_popup'>
            <p class='info_title'>직업이 어떻게 되시나요?</p>
            <div class = three_button_1 action='/'>
                <img src=''>
                <a href='/UserInfo/salary' class='job_description'>직장인</p>
            </div>
        </section>
    </body>
</html>